.add-input-wrapper {
  margin: 1.5rem 0;
}

.timeline-bar {
  height: 10px;
  min-width: 800px;
  background-color: blue;
  border-radius: 5%;
  display: flex;
  position: relative;
}

.input-wrapper {
  margin-bottom: 2rem;
}

.input-wrapper > input {
  height: 2rem;
}
/* Timeline card */
.timeline-element-ctnr {
  margin-left: 2rem;
  min-width: 350px;
  max-width: 500px;
  display: flex;
  position: relative;
  top: -7px;
}

.timeline-event-wrapper {
  display: flex;
  flex-direction: column;
}

/* .timeline-event-wrapper:odd  */
.timeline-element-text {
  background-color: antiquewhite;
  color: blue;
  border: 2px solid blue;
  min-width: 350px;
  max-width: 400px;
  padding: 2rem;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

/* Edit input on timeline card */
.edit-input {
  border: 1px solid blue;
}

/* buttons */

.action-button {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  margin: 0.1rem;
  transition: background-color 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: rgb(85, 85, 246);
    color: white;
    outline: 0;
  }
}

.action-buttons-wrapper > button {
  font-size: smaller;
  height: smaller;
}
